.page-section {

  @mixin atMedium {

    padding: 1rem;
  }

  &--blue {
    background-color: $mainBlue;
    color: #FFF;
  }

  &--testimonials {
    background-color: #e0e6ef;

  @mixin atMedium {
    background-image: url('/assets/images/testimonials-bg.jpg');
    background-size: cover;
  }
}

}
