.primary-nav {


  &--pull-right {

    @mixin atMedium {
      float: right;
  }
}
  ul {
    margin: 0;
    padding: 0;
    @mixin clearfix;
  }

  li {
    background-color: rgba($mainBlue, .5);
    transition: background-color .6s ease-out;
    list-style: none;
    padding: 0 10px 0 10px;
    display: inline-block;
    font-size: .8rem;


    @mixin atMedium {
      background-color: rgba($mainBlue, .0);
      padding-right: 20px;
      float: left;
      display: block;
      font-size: 1rem;


    }
  }

  a {
    color: #FFF;
    font-weight: 300;
    text-decoration: none;
    display: block;
    padding: 12px 0;
    text-align: center;
  }
}
