
.row {
@mixin clearfix;

&--gutters {
  padding-right: -65px;
}
&--gutters-large {
  padding-right: -100px;
}

&--gutters > div {
  padding-right: 65px;

}

&--gutters-large > div {
  padding-right: 100px;

}

@mixin atMedium {


&__medium-4 {

  width: 37%;
  float: left;

}

  &__medium-8 {

    width: 63%;
    float: left;

  }

    &__medium-6 {

      width: 50%;
      float: left;

    }

  }
}
